body{background-color: black; color: white;}
table{width: 500px; height: 500px; margin: auto;
     margin-top: 100px; text-align: center; cursor: pointer} 
table, td{border-collapse: collapse; color: white; 
    border: 5px solid white;}
h1{text-align: center; font-family: cursive;}
div{border: 2px solid aqua; background-color: crimson}
#strt{border: 5px solid white; padding: 10px; font-weight: bold;}
#rset{border: 5px solid white; padding: 10px; font-weight: bold;}
#bttns{display: flex; justify-content: space-evenly;}